<nav>
    <div class="filter">View by:</div>
    <ul (click)="gettodayValue($event)">
      <li><span class="colr">Today</span></li>
    </ul>
    <div class="clear"></div>
    <select id="MonthSelect" placeholder="Monthly" [value]="month" (change)="MonthFilter($event.target.value);">
      <option name="" value="" style="display:none;">Monthly</option>
      <option name="January" value="01">January</option>
      <option name="February" value="02">February</option>
      <option name="March" value="03">March</option>
      <option name="April" value="04">April</option>
      <option name="May" value="05">May</option>
      <option name="June" value="06">June</option>
      <option name="July" value="07">July</option>
      <option name="August" value="08">August</option>
      <option name="September" value="09">September</option>
      <option name="October" value="10">October</option>
      <option name="November" value="11">November</option>
      <option name="December" value="12">December</option>
    </select>
    <p class="closefilter colr" (click)="overAll();">overall-view</p>
  </nav>
  <br>
  <div class="chart d-flex justify-content-around">
    <app-chart *ngIf="hidechart" [dataArr] = 'dataArr'></app-chart>
    <app-chart2 *ngIf = "hidechart" [dataArr1] = 'dataArr' ></app-chart2>
    <!-- Today Filter Open-->
    <app-filterchart *ngIf='TodayShow' [dataArr] = 'todayData'></app-filterchart>
    <app-chart2 *ngIf="TodayShow" [dataArr1] = 'todayData' ></app-chart2>
    <!-- Today Filter Close -->
    <!-- Monthly Filter Open -->
    <app-filterchart *ngIf='MonthShow' [dataArr] = 'MonthData'></app-filterchart>
    <app-chart2 *ngIf = "MonthShow" [dataArr1] = 'MonthData' ></app-chart2>
    <!-- Monthly Filter Close -->
  
  </div>
  <br>


  <button class="btn btn-primary float-right" (click)="exportexcel()">Download Excel</button>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <!-- <th scope="col" *ngFor="let key of Keys">{{key}}</th> -->
        <th>ID</th>
        <th>Name</th>
        <th>vendor</th>
        <th>Contact</th>
        <th>Location</th>
        <th>Experience</th>
        <th>Select Evaluator</th>
        <th>Submit</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody *ngIf="Profiles">
      <tr *ngFor="let profile of Profiles.getProfiles| keyvalue | paginate: { itemsPerPage: 5, currentPage: page, totalItems : totalLength } let i = index">
        <td>{{profile.value.id}}</td>
        <td>{{profile.value.name}}</td>
        <td>{{profile.value.vendor}}</td>
        <td>{{profile.value.mobileno}}</td>
        <td>{{profile.value.location}}</td>
        <td>{{profile.value.experience}}</td>
        <!-- <td>{{profile.value.status['evalname']}}</td> -->
        <td *ngIf="profile.value.status">
            <select *ngIf="profile.value.status" class="form-control flow ctrl" id="sel1" required [disabled]='profile.value.status' [(ngModel)]=" profile.value.status.evalname " (change)="handle($event.target.value);">
              <option value=""></option>
                <option *ngFor="let evaluator of EvaluatorsArr; let j = index" [value]="evaluator.evalname" (change)="getEval(evaluator)" >{{evaluator.evalname}}</option>
            </select>
          </td>
          <td *ngIf="profile.value.evalassigned">
            <select class="form-control flow ctrl" id="sel1" required [disabled]='profile.value.status' [(ngModel)]=" profile.value.evalassigned.evalname " (change)="handle($event.target.value);">
              <option value=""></option>
                <option *ngFor="let evaluator of EvaluatorsArr; let j = index" [value]="evaluator.evalname" (change)="getEval(evaluator)" >{{evaluator.evalname}}</option>
            </select>
          </td>
          <td *ngIf="!profile.value.status && !profile.value.evalassigned">
            <select class="form-control flow ctrl" id="sel1" required  (change)="handle($event.target.value);">
              <option value=""></option>
                <option *ngFor="let evaluator of EvaluatorsArr; let j = index" [value]="evaluator.evalname" (change)="getEval(evaluator)" >{{evaluator.evalname}}</option>
            </select>
          </td>
        <td>
            <button class="btn btn-primary btn-sm flow" [disabled]='profile.value.status' (click)="updateEval(profile.value.id);">Update</button>
        </td>
        <td class="status" *ngIf="profile.value.status">{{profile.value.status['status']}}</td>
        <td class="status" *ngIf="!profile.value.status">waiting</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>



  <table class="table" id="excel-table" style="display: none;" >
    <thead class="thead-light">
      <tr>
        <!-- <th scope="col" *ngFor="let key of Keys">{{key}}</th> -->
        <th>ID</th>
        <th>Name</th>
        <th>vendor</th>
        <th>Contact</th>
        <th>Location</th>
        <th>Experience</th>
        <th>Skills</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody *ngIf="Profiles">
      <tr *ngFor="let profile of Profiles.getProfiles| keyvalue">
          <td>{{profile.value.id}}</td>
          <td>{{profile.value.name}}</td>
          <td>{{profile.value.vendor}}</td>
          <td>{{profile.value.mobileno}}</td>
          <td>{{profile.value.location}}</td>
          <td>{{profile.value.experience}}</td>
          <td>{{profile.value['skill1']}}, {{profile.value['skill2']}}</td>
          <td *ngIf="profile.value.status">{{profile.value.status['status']}}</td>
          <td *ngIf="!profile.value.status">waiting</td>
          <td>{{profile.value.date}}</td>
      </tr>
    </tbody>
  </table>