.table{
    background-color: #f0ffff91;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: red;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li{
    list-style-type: none;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
    padding: 0.8rem;
    border-radius: 25%;
    height: fit-content;
}
li:hover{
    background-color: #1497ad;
    cursor: pointer;
    color: whitesmoke;
}
nav li:focus{
    background-color: #1497ad;
    cursor: pointer;
    color: whitesmoke;
}
.nav-link{
    color: black;
    padding: 0;
}
.nav-link:hover{
    color: whitesmoke;
}
#MonthSelect{
    height: 2.3rem;
    margin: 1rem;
    margin-left: 0.1rem;
    width: 5rem;
    border-radius: 15%;
    font-size: 13px;
}
#MonthSelect:hover{
    cursor: pointer;
}
span{
    margin-top: 1.3rem;
    color: #fdfdfd;
    font-weight: bold;
}
p{
    margin-top: 1rem;
    color: white;
    margin-bottom: 1rem;
    font-size: 12px;
    padding: 0.8rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
p:hover{
    cursor: pointer;
    background-color: #1497ad;
    border-radius: 10%;
}
