<nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">TCS Internal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        
        <ul class="navbar-nav mr-auto justify-content-around">
            <li class="">
            <a class="nav-link" routerLink="/rmg">RMG </a>
            </li>
            <li class="">
                <a class="nav-link" routerLink="/lead">Lead</a>
            </li>
            <li class="">
                <a class="nav-link" routerLink="/evaluate">Evaluator</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Lazy Loading 

    Include Services

    
-->