nav ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
    padding: 0.8rem;
    border-radius: 25%;
}
li:hover{
    background-color: #1497ad;
    cursor: pointer;
    color: whitesmoke;
}