/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: myFont;
    src: url(https://www.flysas.com/v2/cms-s4s-elements/assets/fonts/ScandinavianNew-Regular.woff2);
  }

  html,body{
    background: linear-gradient(to right, #A5CC82, #00467F);
  }