<form #myForm="ngForm">
  <div class="forButton">
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="checkbox" ngModel (ngModelChange)="GetStats(obj,$event)" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">Check the Box if Profile is from TCS.</label>
  </div>
  <br>
  <div class="form-group" *ngIf="checked">
    <label for="exampleInputId1 .label">Id</label>
    <input type="number" class="form-control size" [(ngModel)]="id" #idCtrl="ngModel" name="id" required id="exampleInputId1" placeholder="Employee Id">
    <div *ngIf="idCtrl.invalid && (idCtrl.dirty || idCtrl.touched)" class="error">
      <div *ngIf="idCtrl.errors.required" >
        Id required.
      </div>
      <div *ngIf="idCtrl.errors.minlength">
        Id must be at least 4 characters long.
      </div>
    </div>
  </div>
  <div class="form-group" >
    <label for="exampleInputProfileOrigin .label">Vendor</label>
    <input type="text" [disabled] = "checked" class="form-control size" name="profileorigin" [(ngModel)]="profileorigin" #profileCtrl="ngModel" appForbiddenName="tcs" minlength="3" required id="exampleInputProfileOrigin" placeholder="Vendor Name">
    <div *ngIf="profileCtrl.invalid && (profileCtrl.dirty || profileCtrl.touched)" class="error">
      <div *ngIf="profileCtrl.errors.required">
        vendor required.
      </div>
      <div *ngIf="profileCtrl.errors.minlength">
        vendor must be at least 3 characters long.
      </div>
      <div *ngIf="profileCtrl.errors.forbiddenName">
        vendor can not be TCS.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1 .label">Name</label>
    <input type="text" class="form-control ng-untouched ng-touched ng-dirty size" id="exampleInputEmail1" name="name" minlength="4"  [(ngModel)]="name" #nameCtrl="ngModel" required aria-describedby="emailHelp" placeholder="FullName">
    <div *ngIf="nameCtrl.invalid && (nameCtrl.dirty || nameCtrl.touched)" class="error">
      <div *ngIf="nameCtrl.errors.required">
        Name is required.
      </div>
      <div *ngIf="nameCtrl.errors.minlength">
        Name must be at least 4 characters long.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputLocation .label">Location</label>
    <input type="text" class="form-control size" name="location" [(ngModel)]="location" #locCtrl="ngModel" minlength="3" required id="exampleInputLocation" placeholder="Location">
    <div *ngIf="locCtrl.invalid && (locCtrl.dirty || locCtrl.touched)" class="error">
      <div *ngIf="locCtrl.errors.required">
        Location required.
      </div>
      <div *ngIf="locCtrl.errors.minlength">
        Location must be at least 3 characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputExperience .label">Experience</label>
    <input type="number" class="form-control size forExp" name="experience" [(ngModel)]="experience" minlength="1" maxlength="2" #expCtrl="ngModel" required id="exampleInputExperience" placeholder="Experience">
    <div *ngIf="expCtrl.invalid && (expCtrl.dirty || expCtrl.touched)">
      <div *ngIf="expCtrl.errors.required" class="error">
        required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputMobileNo .label">Mobile number</label>
    <input type="text" class="form-control size forMobile" name="mobileno" [(ngModel)]="mobileno" #mobileCtrl="ngModel" required id="exampleInputMobileNo" minlength="10" placeholder="Mobile Number">
    <div *ngIf="mobileCtrl.invalid && (mobileCtrl.dirty || mobileCtrl.touched)" class="error">  
      <div *ngIf="mobileCtrl.errors.required">
        required.
      </div>
      <div *ngIf="mobileCtrl.errors.minlength">
        Min 10 characters.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSkill1 .label">Primary Skill</label>
    <input type="text" class="form-control size" id="exampleFormControlSkill1" name="skill1" [(ngModel)]="skill1" minlength="3" #skill1Ctrl="ngModel" required  rows="3" placeholder="Major Skill">
    <div *ngIf="skill1Ctrl.invalid && (skill1Ctrl.dirty || skill1Ctrl.touched)" class="error">
      <div *ngIf="skill1Ctrl.errors.required">
        Skill is required.
      </div>
      <div *ngIf="skill1Ctrl.errors.minlength">
        Skill must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSkill2 .label">Secondary Skill</label>
    <input type="text" class="form-control size" id="exampleFormControlSkill2" name="skill2" [(ngModel)]="skill2" minlength="3" #skill2Ctrl="ngModel"  rows="3" placeholder="Secondary Skill">
    <div *ngIf="skill2Ctrl.invalid && (skill2Ctrl.dirty || skill2Ctrl.touched)" class="error">
      <!-- <div *ngIf="skill2Ctrl.errors.required">
        Skills is required.
      </div> -->
      <div *ngIf="skill2Ctrl.errors.minlength">
        Skills must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSkill3 .label">Miscellaneous Skill</label>
    <input type="text" class="form-control size" id="exampleFormControlSkill3" name="skill3" [(ngModel)]="skill3" minlength="3" #skill3Ctrl="ngModel"  rows="3" placeholder="Third Skill">
    <div *ngIf="skill3Ctrl.invalid && (skill3Ctrl.dirty || skill3Ctrl.touched)" class="error">
      <!-- <div *ngIf="skill3Ctrl.errors.required">
        Skills is required.
      </div> -->
      <div *ngIf="skill3Ctrl.errors.minlength">
        Skills must be at least 3 characters long.
      </div>
    </div>
  </div>
  <br>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-success" (click)="sendpost(); myForm.resetForm()" [disabled]="myForm.invalid" data-toggle="tooltip" data-title="enter all fields to submit">Submit</button>
  </div>
</form>